@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using Factory.Models;

<h2>Machine Details</h2>
<hr />
<h3 class="m-3">@Html.DisplayFor(model => model.Model)</h3>
<div class="row">

@* add background color to differentiate *@
  <div class="col-5 mch-info-col">
    <div class="row justify-content-center" id="mch-info-container">
      <div class="eng-status m-3">
        <p><strong class="mr-1">@Html.DisplayNameFor(model => model.OperationalStatus):</strong> @Html.DisplayFor(model => model.OperationalStatus)</p>
      </div>
      <div class="eng-hire-date m-3">
        <p><strong class="mr-1">@Html.DisplayNameFor(model => model.LastServiced):</strong> @Html.DisplayFor(model => model.LastServiced)</p>
      </div>
    </div>
  </div>

  <div class="col-7" id="associated-eng-col">
    @if (Model.JoinEntities.Count() == 0)
    {
      <h5 class="text-center">No engineers have been assigned to @Html.DisplayFor(model => model.Model) yet.</h5>
      <p>To assign an engineer click the button below.</p>
    }
    else
    {
      <h5>Assigned Engineers</h5>
      <table id="machine-table" class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var join in Model.JoinEntities)
          {
            <tr>
              <td scope="row">@Html.ActionLink($"{@join.Engineer.Name}", "Details", "Engineers", new {id = @join.EngineerId})</td>
              <td>@join.Engineer.Status</td>
              <td>
                @using (Html.BeginForm("DeleteEngineer", "Machines"))
                {
                  <div class="row justify-content-center">
                    @Html.Hidden("joinId", @join.EngineerMachineId)
                  <input type="submit" value="Unassign" class="btn btn-sm btn-outline-danger unassign-btn"/>
                  </div>
                }
              </td>
            </tr>
          }
        </tbody> 
      </table>
    }
  </div>
</div>

<hr />

@Html.ActionLink("View Machines", "Index", new {}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Assign Engineer", "AddEngineer", new { id = Model.MachineId }, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Delete", "Delete", new { id = Model.MachineId }, new { @class = "btn btn-outline-primary" })